/* blue: #26A9E0
orange: #F6921E */

* {
    padding: 0;
    margin: 0;
    font-family: 'Audiowide', cursive;
}

h1 {
    padding: 20px;
    width: 100vw;
    text-align: center;
    
     background-color: #de3f01;  
     color: white;
    margin-bottom: 10px;
  
}

hr {
    width: 90vw;
    margin: 20px 0;
}

img {
    width: 150px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


h2, h3, h4, p, button {
    margin: 10px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    background-image: url('https://t4.ftcdn.net/jpg/02/76/64/63/360_F_276646305_WDMuciGs0FvknNb3HS0TNm8scLg8Wkps.jpg');
   background-size: 100% 27%;
   background-position-y: 80px;
   background-repeat: no-repeat;
   margin-top:0px;
   overflow-x:hidden;
   
    
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #26A9E0;
    color: black;
    border-radius: 0 5px 0 5px;
    font-size: 15px;
}


p,h2{
    margin-top: 35px;
    background-color: white;
}
button:hover {
    background-color: #F6921E;
}

#results {
    color: #F6921E;
}

#hangman-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;

}

input {
    border-color: rgb(37, 163, 231);
    border-width: medium;
    align-items: center;
    margin-left: 100px;
    
}

hr{
    /* border-color: orange; */
    
}

#newGame{
    padding: 10px 20px;
    border: none;
    background-color:black;
    color: white;
    border-radius: 50px 50px 50 50px;
    border-color: black;
    font-size: 15px;
     /* background-image: url(
     'https://thumbs.dreamstime.com/b/star-sign-7126423.jpg');
    background-size: cover;
    width: 125px;
    height: 125px; */

}



#letterForm {
    margin-left: 9%;
}
#deleteWordForm {
    margin-right: 100px;
}
ul {
    display: inline;
    background-color: lightgrey;
    /* background-color: rgb(37, 163, 231); */
    border: thick;
    border-color: darkorange;
    padding: 10px 300px 5px 300px;
    color: white;
  
  }
  

#stick-fig-art{
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
